<h2 class='page-header'>
  Are You Ready to Travel Safely?
</h2>

<% if user_signed_in? %>
  <p>Welcome <%= current_user.email %> to your homepage. </p>
<% else %>
  <p>Please sign in or sign up.</p>
<% end %>
<<<<<<< HEAD

<!--  -->
=======
<div id="map"></div>

>>>>>>> 7e6fc8028700aa6ac0d97c1a612e6e7ef1621e9d
